[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
requests = "*"
networkx = "*"
pyvis = {editable = true, path = "./pyvis"}
aiohttp = {extras = ["speedups"], version = "*"}
pybase64 = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
